node_modules
dist
.next
.turbo
*.log
.env
.env.local
.env.*.local
.DS_Store
*.tsbuildinfo
.expo
ios/
android/
!apps/mobile/store/android/
com-masjidapp-mobile-firebase-adminsdk-*.json
apps/mobile/GoogleService-Info.plist
.worktrees
apps/mobile/store/google-play-service-account.json
